@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  color: #F5ECCD;
  background-color: #783C44;
  font-family: quicksand;
}

h1 {
  font: #F5C1AC;
  font-family: quicksand;
  text-align: center;
}
