<form [formGroup]="reactiveForm" (ngSubmit)="onFormSubmit()">
  <div id="cocktail-data">
    <div class="form-group">
      <label for="cocktail-data">Cocktail</label>
      <input
        type="text"
        id="cocktail-data"
        name="cocktail-data"
        class="form-control"
        formControlName="cocktail-data"
        />
    </div>
    <!-- INGREDIENTS -->
    <div class="form-group">
      <label for="ingredients">Ingredients</label>
      <input
        type="text"
        id="ingredients"
        name="ingredients"
        class="form-control"
        formControlName="ingredients"
      />
    </div>
    <!-- GLASS -->
    <div class="form-group">
      <label for="glass">Author</label>
      <input
        type="text"
        id="glass"
        name="glass"
        class="form-control"
        formControlName="glass"
      />
    </div>
    <button class="btn btn-warning" type="submit">Let's get Tipsy!</button>
  </div>
</form>
