@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


h1 {
  font-family: 'La Belle Aurore', cursive;
  font-size: 48px;
  padding-bottom: 0px;
  padding-top: 10px;
  color: #783C44;
}
